<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flashreport CloudFoundry Spring sample</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <h1>Your report generation request has been sent</h1>


        Each report is assigned a unique identifier, yours is

        <div class="alert alert-success" role="alert" th:text="${REPORT_UUID}"></div>


        <h2>Report status</h2>

        <p>
            Go to <a th:href="${REPORT_STATUS_URL}" th:text="${REPORT_STATUS_URL}"></a> to ask flashreport.io
            the status of your report.
            <br/>

        <div class="well">Please note that the links you will see there refer to secured endpoints,
            you won't be able to access them directly unless you use your api key as basic authentication.
            Leave the password blank.
        </div>
        </p>

        <h2>Download your report</h2>

        <p>
            Go to <a th:href="${REPORT_DOWNLOAD_URL}" th:text="${REPORT_DOWNLOAD_URL}"></a> to download your PDF
            document.
            <br/>If you get an error, it might be because the report is not ready yet, check the <i>state</i> value
            in the status page.
        </p>

        <br/><br/>
        <a class="btn btn-primary" href="/" role="button">Back to home page</a>
    </div>
</div>

</body>
</html>